/* Variables */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024;

/*Mixins*/
@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}){
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
        @content;
    }
}

@mixin structureButton{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    position: relative;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateX(-50%);
    float: left;
    text-decoration: none;
    padding: 16px 0;
    border-radius: 4px;
}

@mixin structureInputs{
    height:45px;
    vertical-align: middle;
    display: table-cell;
    margin: 20px 0;
    font-size: 20px;
    padding-left: 9px;
    border: none;
}

@mixin slignItem{
    vertical-align: middle;
    display: table-cell;
    margin: 20px 0;
    font-size: 20px;
    padding-left: 9px; 
}


/*
    ALERTS
*/  

.alert-info-show{
    padding: 10px;
    background-color: #f00;
    color: #fff;
    width: 70%;
    height: 30px;
    vertical-align: middle;
    display: table-cell;
    margin: 20px 0;
    text-align: center;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    float: left;
}

.alert-info-hide{
    display: none;
}

/*
    MAIN
*/
.container{
    margin: 0;
    float: left;
}

/*
    BODY -- MAIN
*/
.container-content{
    width: 700px;
    margin: 30px auto;
    padding: 20px 15px;
    background-color: #f2f2f2;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    float: left;
}

.container-login{
    margin: 0 auto;
    text-align: center; 
        h1{
            margin: 10px;
            text-transform: uppercase;
            font-family: Helvetica, Arial, Sans-Serif;
        }

        fieldset{
            padding: 0 20px;
            margin: 20px 0;
            float: left;
            .input-email-login, 
            .input-password-login{
                width: 76%;
                height:45px;
                vertical-align: middle;
                display: table-cell;
                margin: 20px 0;
                font-size: 20px;
                padding-left: 9px;
                border: none;
            }

            .button-confirm-login{
                width: 80%;
                @include structureButton;
                background-color: #018047;
                color: #fff;
            }
            .button-redirect-register{
                width: 80%;
                @include structureButton;
                margin-top: 20px;
                background-color: #7a0009;
                color: #fff;
            }
        } 
}

.container-register{
    margin: 0 auto;
    text-align: center; 
    h1{
        margin: 10px;
        text-transform: uppercase;
        font-family: Helvetica, Arial, Sans-Serif;
    }
    fieldset{
        padding: 0 20px;
        margin: 20px 0;
        float: left;
        .input-nome-register,
        .input-email-register, 
        .input-password-register{
            width: 76%;
            height:45px;
            vertical-align: middle;
            display: table-cell;
            margin: 20px 0;
            font-size: 20px;
            padding-left: 9px;
            border: none;
        }

        .button-confirm-register{
            width: 80%;
            @include structureButton;
            background-color: #018047;
            color: #fff;
        }
    } 

}

.container-alter-details{
    margin: 0 auto;
    text-align: center; 
    h1{
        margin: 10px;
        text-transform: uppercase;
        font-family: Helvetica, Arial, Sans-Serif;
    }
    fieldset{
        padding: 0 20px;
        margin: 20px 0;
        float: left;
        .container-input{
            width: 100%;
            float: left;
            label{
                font-size: .9rem;
            }
            @include slignItem;
            .input-of-name{
                width: 70%;
                @include structureInputs;
            }
        }

        .container-input{
            width: 100%;
            float: left;
            @include slignItem;
            .input-of-email{
                width: 70%;
                @include structureInputs;
                
            }
        }

        .container-input{
            width: 100%;
            float: left;
            @include slignItem;
            .input-of-password{
                width: 68%;
                @include structureInputs;
            }
        }

        .button-alter-data{
            width: 20%;
            @include structureButton;
            background-color: #018047;
            color: #fff;
            cursor: pointer;
            border: none;
            margin-right: 5px;
        }

        .button-delete-user{
            width: 20%;
            @include structureButton;
            background-color: #C02727;
            color: #fff;
            cursor: pointer;
            border: none;
            margin-right: 5px;
            
        }

        .button-confirm-exit{
            width: 20%;
            @include structureButton;
            background-color: rgb(255, 236, 64);
            color: #fff;
            cursor: pointer;
            border: none;
            margin-right: 5px;
        }

        .input-checkbox{
            width: 23px;
            height: 23px;
        }
    } 
}



@include tablet{
    .container-content{
        width: 700px;
        margin: 30px auto;
        padding: 20px 15px;
        background-color: #f2f2f2;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        float: left;
    }
    .container-alter-details{
        margin: 0 auto;
        text-align: center; 
        h1{
            margin: 10px;
            text-transform: uppercase;
            font-family: Helvetica, Arial, Sans-Serif;
        }
        fieldset{
            padding: 0 20px;
            margin: 20px 0;
            float: left;
            .container-input{
                width: 100%;
                float: left;
                @include slignItem;
                .input-of-name{
                    width: 70%;
                    @include structureInputs;
                }
            }

            .container-input{
                width: 100%;
                float: left;
                @include slignItem;
                .input-of-email{
                    width: 70%;
                    @include structureInputs;
                    
                }
            }

            .container-input{
                width: 100%;
                float: left;
                @include slignItem;
                .input-of-password{
                    width: 68%;
                    @include structureInputs;
                }
            }

            .button-alter-data{
                width: 20%;
                @include structureButton;
                background-color: #018047;
                color: #fff;
                cursor: pointer;
                border: none;
                margin-right: 5px;
            }

            .button-delete-user{
                width: 20%;
                @include structureButton;
                background-color: #C02727;
                color: #fff;
                cursor: pointer;
                border: none;
                margin-right: 5px;
                
            }

            .button-confirm-exit{
                width: 20%;
                @include structureButton;
                background-color: rgb(255, 236, 64);
                color: #fff;
                cursor: pointer;
                border: none;
                margin-right: 5px;
            }

            .input-checkbox{
                width: 23px;
                height: 23px;
            }
        } 
    }
}

@include mobile{
    .container-content{
        width: 100%;
        margin: 30px auto;
        padding: 20px 15px;
        background-color: #f2f2f2;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        float: left;
    }
    .container-alter-details{
        margin: 0 auto;
        text-align: center; 
        h1{
            margin: 10px;
            text-transform: uppercase;
            font-family: Helvetica, Arial, Sans-Serif;
        }
        fieldset{
            padding: 0 20px;
            margin: 20px 0;
            float: left;
            .container-input{
                width: 100%;
                float: left;
                label{
                    font-size: .9rem;
                    text-align: left;
                }
                @include slignItem;
                .input-of-name{
                    width: 70%;
                    @include structureInputs;
                }
            }

            .container-input{
                width: 100%;
                float: left;
                @include slignItem;
                .input-of-email{
                    width: 70%;
                    @include structureInputs;
                    
                }
            }

            .container-input{
                width: 100%;
                float: left;
                @include slignItem;
                .input-of-password{
                    width: 68%;
                    @include structureInputs;
                }
            }

            .button-alter-data{
                width: 100%;
                @include structureButton;
                background-color: #018047;
                color: #fff;
                cursor: pointer;
                border: none;
                margin-right: 5px;
                margin-bottom: 15px;
            }

            .button-delete-user{
                width: 100%;
                @include structureButton;
                background-color: #C02727;
                color: #fff;
                cursor: pointer;
                border: none;
                margin-right: 5px;
                margin-bottom: 15px;
                
            }

            .button-confirm-exit{
                width: 100%;
                @include structureButton;
                background-color: rgb(255, 236, 64);
                color: #fff;
                cursor: pointer;
                border: none;
                margin-right: 5px;
            }

            .input-checkbox{
                width: 23px;
                height: 23px;
            }
        } 
    }
}